/* src/App.css */
body,
html {
    background-color: #fdf9f8;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
}
.connectionStatus {
    padding-top: 20px;
    margin-left: 5%;
    font-size: 1.5em;
}
.publisher {
    display: flex;
    margin: 3%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subscriber {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.OTPublisherContainer {
    width: 40vh !important;
    height: 40vh !important;
}
.OTSubscriberContainer {
    width: 40vh !important;
    height: 40vh !important;
}

.screens {
    display: flex;
    flex-direction: row;
}

.screens div:nth-child(2) {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

#error {
    color: red;
}
